.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem auto;
    padding: 11px;
    max-width: 1000px;
    justify-content: space-between;
    text-align: center;
}